<h1>えんむすび</h1>

これはインスタ映えしそう！！　今すぐ行け！！！！
画像をクリックするとmapが表示されます。

<div class="container">
    <div id="main">
        <ul class="image-list">
            <% @images.each do |image| %>
                <li>
                    <div class="image-box">
                        <%= link_to image_tag("/#{image.image_path}")%>
                        <input class="disabled-checkbox" type="checkbox" onclick="return false">
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>

こんにちは