<h1>えんむすび</h1>

これはインスタ映えしそう！！　今すぐ行け！！！！
画像をクリックするとmapが表示されます。

<%= form_with url: '/', method: :post do |form| %>
    <div class="container">
        <% @images.each do |image| %>
            <div class="item">
                <%= image_tag("/#{image.image_path}",:class => "thumbnail") %>
                <input type="checkbox" name="images[]" value="<%= image.id %>" class="disabled_checkbox">
            </div>
        <% end %>
        <%= form.submit "ルート検索" %>
    </div>
<% end %>
