<h1>古宇利島</h1>

これはインスタ映えしそう！！　今すぐ行け！！！！
画像をクリックするかその下のリンクを踏むとmapが表示されます。

<%= link_to image_tag("/kirei.jpg"), "https://www.google.co.jp/maps/place/%E5%8F%A4%E5%AE%87%E5%88%A9%E5%B3%B6/@26.7042748,128.0104929,14.73z/data=!4m5!3m4!1s0x34e45834628fc6c1:0xfe464c1009cf4372!8m2!3d26.7072982!4d128.0181686" %>
<%= link_to "古宇利島", "https://www.google.co.jp/maps/place/%E5%8F%A4%E5%AE%87%E5%88%A9%E5%B3%B6/@26.7042748,128.0104929,14.73z/data=!4m5!3m4!1s0x34e45834628fc6c1:0xfe464c1009cf4372!8m2!3d26.7072982!4d128.0181686" %>