<h1>えんむすび</h1>

これはインスタ映えしそう！！　今すぐ行け！！！！
画像をクリックするとmapが表示されます。

<div class="container">
    <% @images.each do |image| %>
        <div class="item">
            <%= link_to image_tag("/#{image.image_path}",:class => "thumbnail")%>
            <input class="disabled_checkbox" type="checkbox"/>
        </div><br>
    <% end %>
</div>
<button onclick="location.href='tops/go_to_list.html'">go</button>