// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


h1 {
    color: green;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    position: relative;
    flex-basis: 25%;
}

.item:before{
    content: "";
    display: block;
    padding-top: 100%;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}
.item .disabled_checkbox {
  /* チェックボックスの位置は絶対位置にします。 */
  position: absolute;
  /* チェックボックスは、親要素の右上から12pxの位置に配置します。 */
  top: 12px;
  right: 12px;
  display: none;
  transform: scale(2);
  cursor: pointer;
}

.item img.thumbnail{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.item img.thumbnail.checked{
  border: 6px solid blue;
  box-sizing: border-box;
}
.item img.thumbnail.checked + .disabled_checkbox {
  display: block;
}
